.skill-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
}

.skill-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-bottom: 5rem;
}

.skill-card {
  background: #1a1919;
  padding: 1.2rem 1rem;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack image on top of text */
  align-items: center; /* Center items horizontally */
  border-right: 1px solid rgb(255, 232, 82); /* Border di sebelah kanan */
  border-left: 1px solid rgb(255, 232, 82); /* Border di sebelah kiri */
  border-bottom: 3px solid rgb(248, 217, 15); /* Border di bawah */
}

.skill-card:hover {
  transform: scale(1.01); /* Mengatur zoom 110% saat hover */
  transition: transform 0.3s ease; /* Menambahkan transisi agar efek terjadi secara halus */
}

.skill-card img {
  width: 30%;
}

.skill-text {
  color: #eee;
  padding: 2rem 0 0;
}

@media screen and (max-width: 740px) {
  .skill-container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .skill-text p {
    font-size: 1.5rem;
  }
}
